.game-container {
    padding:20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}
.figure-container {
    fill:transparent;
    stroke:black;
    stroke-width: 4px;
    stroke-linecap: round;
}
