.Footer-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    width: 100%;
    height: 7vh;
    color: white;
}
.Restart-Container .p {
        font-family: "Arial, Black, Gadget, sans-serif";
    
}